.menu {
  align-items: center;
  background: rgba(1, 1, 1, 0.8);
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu .button {
  background: #9966ff;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.menu .message {
  color: #fff;
  font-size: 24px;
  padding: 20px;
}
