.cell {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 100px;
}

.element-x {
  fill: transparent;
  stroke: rgb(84, 84, 84);
  stroke-linecap: round;
}

.element-o {
  fill: none;
  stroke: rgb(242, 235, 211);
  stroke-width: 2px;
}

.element {
  height: 100%;
  width: 100%;
}
