.container {
  align-items: center;
  background-color: #14bdac;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.board {
  width: 300px;
  min-width: 300px;
}

.board .cell:not(:nth-child(3n)) {
  border-right: solid 5px #0da192;
}

.board .cell:nth-child(-n + 6) {
  border-bottom: solid 5px #0da192;
}

.next {
  font-size: 24px;
}
